    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Aging is not uniform</h2>
                <p>Your birthdate age is not close to perfectly predictive of your biological age.</p>
                <p>For example, people who smoke cigarettes have been shown to age faster, while people who eat more vegetables have been shown to age slower.</p>
            </div>
        </div>
    </section>