    <!-- About Section -->
    <section id="firststeps" class="container content-section text-center firststeps-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>First Steps</h2>
                <!-- <p>Epiclock's first steps are to partner with pharmaceutical companies and research institutes to assess their techniques to slow aging.</p> -->
				<p>Ultimately, we're passoniate about using epigenetic information to empower you through personalized genomic medicine to make the changes that will help you live a longer and more healthy life.</p>
				<p><img src="img/epiclock_flow.svg" alt="epiclock_flow"></p>
				<p>Once you have a metric, you can optimize it.</p>
            </div>
        </div>
    </section>
