    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>First Steps</h2>
                <p>Epiclock's first steps are to partner with pharmaceutical companies and research institutes to assess their techniques to slow aging.</p>
				<p>Ultimately, we're passoniate about using this information to empower you with personalized genomic medicine to make the changes that will help you live a more healthy life.</p>
				<p>Once you have a metric, you can optimize it.</p>
            </div>
        </div>
    </section>